name: anomaly_detector
# docker container composition to collect IOT sensor data and detect anomalies

services:

  # MQTT broker to receive sensor readings and anomaly detections
  mosquitto:
    image: eclipse-mosquitto:2.0.20
    restart: unless-stopped
    networks:
      - sensors
      - mqtt
    configs:
      - source: mosquitto_config
        target: /mosquitto/config/mosquitto.conf
    secrets:
      - mosquitto_users
      - mosquitto_acl
    volumes:
      - mosquitto-data:/mosquitto/data
      - mosquitto-logs:/mosquitto/log

  # Database to store sensor readings, anomaly detections, and mlserver metrics
  # Additionally exposes GUI incl. dashboard for inspection on port 8086
  # (for the latter the newest version is not used purpose)
  influxdb:
    image: influxdb:2.7.12-alpine
    restart: unless-stopped
    networks:
      - influx
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME_FILE: /run/secrets/influxdb_admin_username
      DOCKER_INFLUXDB_INIT_PASSWORD_FILE: /run/secrets/influxdb_admin_password
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN_FILE: /run/secrets/influxdb_token
      DOCKER_INFLUXDB_INIT_ORG: ${ORGANIZATION}
      DOCKER_INFLUXDB_INIT_BUCKET: sensors
    secrets:
      - influxdb_admin_username
      - influxdb_admin_password
      - influxdb_token
    volumes:
      - influxdb-data:/var/lib/influxdb2
      - influxdb-config:/etc/influxdb2

  # Agent for pulling mqtt messages as well as mlserver metrics
  # and funneling them to the influxdb database
  telegraf:
    image: telegraf:1.35.4-alpine
    restart: unless-stopped
    networks:
      - mqtt
      - influx
    depends_on:
      - mosquitto
      - influxdb
      - blade-detector
    environment:
      INFLUXDB_ORG: ${ORGANIZATION}
      INFLUXDB_BUCKET: sensors
      MQTT_TOPICS: ${TOPIC}/#
      # add more endpoints here, when deploying additional models / sets of machines
      METRICS_URLS: http://blade-detector:8082/metrics
    configs:
      - source: telegraf_config
        target: /etc/telegraf/telegraf.conf
    secrets:
      - mosquitto_telegraf_user
      - mosquitto_telegraf_pass
      - influxdb_token


  ### services for sensor data pertaining to mlflow model 'blade'
  ### duplicate these and change all (10) occurences of 'blade' to include additional models / sets of machines
  
  # Generator for mock sensor data
  # Number of messages send to mqtt broker per second equals {features of model}*{deployed replicas}/{INTERVAL} 
  blade-generator:
    image: ${REPOSITORY}/blade-generator:latest
    networks:
      - sensors
    depends_on:
      - mosquitto
    environment:
      MQTT_SERVER: mosquitto
      MQTT_USER_FILE: /run/secrets/mosquitto_sensor_user
      MQTT_PASS_FILE: /run/secrets/mosquitto_sensor_pass
      PUB_TOPIC: ${TOPIC}/sensor/blade
      QOS: 1
      INTERVAL: 1 #sends messages for all features/sensors (i.e. temperature, humidity, etc.) every {INTERVAL} seconds 
    secrets:
      - mosquitto_sensor_user
      - mosquitto_sensor_pass
    deploy:
      replicas: 3 # number of mock machines
    profiles: [development]
  
  # Anomaly detector, serving mtad_gat model through mlflow / mlserver
  blade-detector:
    image: ${REPOSITORY}/blade-detector:latest
    networks:
      - mqtt
    environment:
      MLSERVER_PARALLEL_WORKERS: 3
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
              
  # Queue manager, retaining a fixed size of {WINDOW_SIZE} sensor readings to feed to the detector
  # Sends results back to mqtt broker
  blade-manager:
    image: ${REPOSITORY}/queue-manager:latest
    networks:
      - mqtt
    depends_on:
      - mosquitto
      - blade-detector
    environment:
      MQTT_SERVER: mosquitto
      MQTT_USER_FILE: /run/secrets/mosquitto_manager_user
      MQTT_PASS_FILE: /run/secrets/mosquitto_manager_pass
      SUB_TOPIC: ${TOPIC}/sensor/blade
      PUB_TOPIC: ${TOPIC}/anomaly/blade
      QOS: 1
      DETECTOR: http://blade-detector:8080/invocations
      SENSORS: temperature,volume,humidity #number and order need to match model features
      WINDOW_SIZE: 120 #needs to match trained model window size
      # uncomment to override the default (epsilon) threshold for the model, with a better threshold from evaluation
      #THRESHOLD: 42.0
    secrets:
      - mosquitto_manager_user
      - mosquitto_manager_pass

    ###


networks:

  sensors:
    name: ${NETWORK_NAME}
    external: ${NETWORK_IS_EXTERNAL}
  mqtt: # do not expose broker or ML model
    internal: true
  influx:


configs:

  # modify these to enable TSL
  # rest of configurations is exposed through environment and secrets
  mosquitto_config:
    file: ./config/mosquitto/mosquitto.conf
  telegraf_config:
    file: ./config/telegraf/telegraf.conf


secrets:

  # use 'set_authentication.py' to generate
  influxdb_admin_username:
    file: ./secrets/influxdb_user
  influxdb_admin_password:
    file: ./secrets/influxdb_pass
  influxdb_token:
    file: ./secrets/influxdb_token
  mosquitto_users:
    file: ./secrets/mosquitto_users
  mosquitto_acl:
    file: ./secrets/mosquitto_acl
  mosquitto_sensor_user:
    file: ./secrets/mosquitto_sensor_user
  mosquitto_sensor_pass:
    file: ./secrets/mosquitto_sensor_pass
  mosquitto_manager_user:
    file: ./secrets/mosquitto_manager_user
  mosquitto_manager_pass:
    file: ./secrets/mosquitto_manager_pass
  mosquitto_telegraf_user:
    file: ./secrets/mosquitto_telegraf_user
  mosquitto_telegraf_pass:
    file: ./secrets/mosquitto_telegraf_pass


volumes:

  # main data store
  influxdb-data:
  ## example for nfs share, configure as needed and set variable in .env
  #  driver_opts:
  #      type: nfs
  #      o: addr=${NFS_SERVER},rw
  #      device: ":/path"
  influxdb-config:
  
  # retain mqtt messages and logs
  # in case of telegraf or influxdb downtimes
  mosquitto-data:
  mosquitto-logs: